.App {
    text-align: center;
    
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
 
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .Hero{
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-family: 'Raleway', sans-serif;
    
  }

  
  .heroText{
    margin-left: 50px;
    letter-spacing: 10px;
    margin-top: 20px;
  }
  .heroText p{
    width: 650px;
    line-height: 2;
    letter-spacing: normal;
  }
 
  .heroText button{
    background-color: palevioletred;
    border: none;
    height: 30px;
    width: 80px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    
  }
  .heroText button:hover{
    cursor: pointer;
  }
  .stephimg{
    margin-right: 0;
  }
  .stephimg img{
    width: 400px;
  }
  