
  .Hero{
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-family: 'Raleway', sans-serif;
    
  }

  
  .heroText{
    margin-left: 30px;
    letter-spacing: 10px;
    margin-top: 20px;
  }
  .heroText p{
    width: 85%;
    line-height: 2;
    letter-spacing: normal;
  
  }
 
  .heroText button{
    background-color: palevioletred;
    padding: 5px;
    border: none;
    height: 35px;
    width: 100px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: width 0.3s;
  }
  .heroText button:hover{
    cursor: pointer;
 
    width: 110px;
  }

  .stephimg{
    margin-right: 0;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
  }
  .stephimg img{
    width: 200px;
  }
  #animation{
    transform: rotate(90deg);
  }

  @media only screen and (max-width: 800px){
    .stephimg{
      display: none;
    }
    .heroText p{
      height: 300px;
      overflow-x: scroll;
      text-align: center;
      margin: auto;
    }
    .heroText{
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 20px;
    }
    .heroText button{
      margin-top: 20px;
    }
  }
  