.footerContainer{
    background-color: black;
    display: flex;
    color: white;
    height: 150px;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
}
.trade, .sitemap, .social{
    margin-top: 30px;
}
.sitemap a{
    margin: 20px;
    text-decoration: none;
}
.social a{
    margin: 20px;
}

#LI, #git, #insta{
    width: 40px;

}

