.projectCards{
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
    
    
}
.project1, .project2{
    display: flex;
    color: black;
    justify-content: space-evenly;
    
}
#proj1, #proj2{
    width: 90%;
    border-radius: 20px;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.project1 p, .project2 p{
    width: 500px;
}
.txt{
    margin-top: 50px;
    line-height: 1.5em;
    
    
}
.txt #projtext{
    margin-left: 0;
    font-size: 18px;
    color: palevioletred;
    width: fit-content;
    
}
.project2{
    display: flex;
    
}
.project2 .txt{
    margin-left: 20px;
}
.img{
    margin-top: 50px;
}
#repoBtn{
    padding: 10px;
    
    background-color: palevioletred;
    border-radius: 30px;
    transition: padding-left 0.5, padding-right 0.5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#repoBtn:hover{
    padding-left: 20px;
    padding-right: 20px;
}
@media only screen and (max-width: 800px){
    .project1, .project2{
        flex-direction: column;
        text-align: center;
       
       
    }
    .project1 #projtext{
        margin-left: 20%;
    }
   .project1 .txt{
    margin-left: 4%;
   }
   
    .txt #projtext{
        text-align: center;
        margin-top: 0;
    }
    .project1 p, .project2 p{
        width: 95%;
        text-align: center;
    }
    
    #repoBtn{
        
    }
    
    
}