.navContainer{
    background-color: black;
    height: 70px;
}
h2{
    color: palevioletred;
}

.navContainer{
    display: flex;
    width: 100vw;
   
}
ul{
    display: flex;
   text-decoration: none;
   list-style: none;
   
   
}

a{
    
    color: white!important;
    margin-left: 80px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    
}



.navMenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    text-align: right;
    top: 1%;
}