.smallnavContainer{
    background-color: white;
    height: 110px;
    display: flex;
    font-family: 'Raleway', sans-serif;
    
    
    
}
h3{
    color: black;
    font-size: 34px;
    margin-left: 20px;
    margin-top: 15px;
    
    
}


.navContainer{
    display: flex;
    
   
}
ul{
    display: flex;
   text-decoration: none;
   list-style: none;
   
   
}

#home, #proj, #cont{
    
    color: black;
    margin-left: 80px;
    text-decoration: none;
}
#home:hover, #proj:hover, #cont:hover{
    text-decoration: underline;
    text-decoration-color: palevioletred;
}




.navMenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    text-align: right;
    top: 1%;
}
