.smallnavContainer{
    background-color: black;
    height: 90px;
    display: flex;
    font-family: 'Raleway', sans-serif;
    
    
    
}
h3{
    color: palevioletred;
    font-size: 34px;
    margin-left: 20px;
    margin-top: 15px;
    
}
.logoName{
    background-color: black;
}

.navContainer{
    display: flex;
    
   
}
ul{
    display: flex;
   text-decoration: none;
   list-style: none;
   
   
}

a{
    
    color: white!important;
    margin-left: 80px;
    text-decoration: none;
}




.navMenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    text-align: right;
    top: 1%;
}
